.addItem{
    position: relative;
    padding-bottom: 0px;
    height: 30px;   
}
.addItem button{
    height: 45px;
    width: 50px;
    padding: 5px;
}
.addText{
    width: 80%;
    height: 30px;
    padding: 5px;
    font-size: 20px;
}